In [7]:
import pandas as pd
# World alcohol consumption data
df = pd.read_csv('world_alcohol.csv')
print("World alcohol consumption sample data:")
print(df.head())
print('\nShape of the dataframe: ',w_a_con.shape)
print('\nNumber of rows: ',df.shape[0])
print('\nNumber of column: ',df.shape[1])
print("\nExtract Column Names:")
print(df.columns)

World alcohol consumption sample data:
   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

Shape of the dataframe:  (100, 5)

Number of rows:  100

Number of column:  5

Extract Column Names:
Index(['Year', 'WHO region', 'Country', 'Beverage Types', 'Display Value'], dtype='object')

In [10]:

print(df.head())
print("\nSelect first 2 rows:")
print(df.iloc[:2])
print("\nSelect first 2 columns:")
print(df.iloc[:,:2].head())
print("\nSelect 2 specific columns:")
print(df[['Display Value', 'Year']])

   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

Select first 2 rows:
   Year       WHO region   Country Beverage Types  Display Value
0  1986  Western Pacific  Viet Nam           Wine            0.0
1  1986         Americas   Uruguay          Other            0.5

Select first 2 columns:
   Year       WHO region
0  1986  Western Pacific
1  1986         Americas
2  1985           Africa
3  1986         Americas
4  1987         Americas

Select 2 specific columns:
    Display Value  Year
0            0.00  1986
1            0.50  1986
2            1.62  1985
3            4.27  1986
4            1.98  1987
..            ...   ...
95           0.00  1984
96           7.38  1985
97           0.00  1984
98           0.00  1984
99           0.00  1985

[100 rows x 2 columns]

In [5]:
import pandas as pd
# World alcohol consumption data
df = pd.read_csv('world_alcohol.csv')
print("World alcohol consumption sample data:")
print(df.head())
print("\nSelect random number of rows:")
print(df.sample(5))
print("\nSelect fraction of randome rows:")
print(df.sample(frac=0.2))

World alcohol consumption sample data:
   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

Select random number of rows:
    Year             WHO region  ... Beverage Types Display Value
34  1986                 Europe  ...           Wine          0.80
4   1987               Americas  ...           Beer          1.98
66  1987  Eastern Mediterranean  ...           Wine          0.01
69  1986                 Africa  ...        Spirits          0.42
12  1985        Western Pacific  ...           Beer          0.00

[5 rows x 5 columns]

Select fraction of randome rows:
    Year             WHO region  ... Beverage Types Display Value
68  1989                 Africa  ...           Beer          0.12
99  1985        South-East Asia  ...           Wine          0.00
8   1986               Americas  ...        Spirits          1.55
84  1986        South-East Asia  ...          Other          0.00
11  1989               Americas  ...           Beer          0.62
43  1984        Western Pacific  ...           Wine          0.03
22  1984                 Europe  ...        Spirits          2.67
13  1984  Eastern Mediterranean  ...          Other          0.00
6   1987                 Africa  ...           Wine          0.13
27  1984  Eastern Mediterranean  ...           Beer          2.22
16  1984               Americas  ...           Wine          0.06
10  1987                 Africa  ...           Wine          0.20
24  1985                 Africa  ...          Other           NaN
80  1985                 Africa  ...          Other          0.84
41  1986                 Europe  ...           Beer          6.82
21  1989               Americas  ...        Spirits          4.51
36  1987  Eastern Mediterranean  ...           Beer          0.07
72  1987                 Africa  ...          Other          0.00
30  1986                 Africa  ...          Other          4.48
67  1989                 Africa  ...           Beer          0.00

[20 rows x 5 columns]

In [9]:
print("\nMissing values:")
print(df.isnull())
print("\nDropping the missing values:")
print(df.dropna())

Missing values:
     Year  WHO region  Country  Beverage Types  Display Value
0   False       False    False           False          False
1   False       False    False           False          False
2   False       False    False           False          False
3   False       False    False           False          False
4   False       False    False           False          False
..    ...         ...      ...             ...            ...
95  False       False    False           False          False
96  False       False    False           False          False
97  False       False    False           False          False
98  False       False    False           False          False
99  False       False    False           False          False

[100 rows x 5 columns]

Dropping the missing values:
    Year       WHO region  ... Beverage Types Display Value
0   1986  Western Pacific  ...           Wine          0.00
1   1986         Americas  ...          Other          0.50
2   1985           Africa  ...           Wine          1.62
3   1986         Americas  ...           Beer          4.27
4   1987         Americas  ...           Beer          1.98
..   ...              ...  ...            ...           ...
95  1984           Africa  ...          Other          0.00
96  1985           Europe  ...           Wine          7.38
97  1984  South-East Asia  ...           Wine          0.00
98  1984           Africa  ...           Wine          0.00
99  1985  South-East Asia  ...           Wine          0.00

[95 rows x 5 columns]

In [12]:
print(df.drop_duplicates('WHO region'))

    Year             WHO region       Country Beverage Types  Display Value
0   1986        Western Pacific      Viet Nam           Wine           0.00
1   1986               Americas       Uruguay          Other           0.50
2   1985                 Africa  Cte d'Ivoire           Wine           1.62
13  1984  Eastern Mediterranean   Afghanistan          Other           0.00
18  1984                 Europe        Norway        Spirits           1.62
20  1986        South-East Asia       Myanmar           Wine           0.00

In [13]:
print(df.head())
print("\nThe world alcohol consumption details in the year 1985:")
print(df[df['Year']==1985].head(10))
print("\nThe world alcohol consumption details in the year 1989:")
print(df[df['Year']==1989].head(10))

   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

The world alcohol consumption details in the year 1985:
    Year       WHO region  ... Beverage Types Display Value
2   1985           Africa  ...           Wine          1.62
7   1985           Africa  ...        Spirits          0.39
12  1985  Western Pacific  ...           Beer          0.00
14  1985  Western Pacific  ...        Spirits          0.05
24  1985           Africa  ...          Other           NaN
26  1985           Europe  ...           Wine          1.36
33  1985           Africa  ...          Other          0.00
35  1985         Americas  ...        Spirits          2.24
44  1985           Europe  ...          Other           NaN
50  1985           Europe  ...          Other          0.30

[10 rows x 5 columns]

The world alcohol consumption details in the year 1989:
    Year             WHO region  ... Beverage Types Display Value
11  1989               Americas  ...           Beer          0.62
17  1989                 Africa  ...           Beer          2.23
21  1989               Americas  ...        Spirits          4.51
32  1989                 Africa  ...           Beer          1.60
45  1989                 Africa  ...           Beer          0.19
55  1989               Americas  ...           Wine          0.04
57  1989                 Europe  ...           Wine          5.10
59  1989  Eastern Mediterranean  ...          Other          0.00
64  1989               Americas  ...           Beer          1.26
65  1989  Eastern Mediterranean  ...           Beer          0.00

[10 rows x 5 columns]

In [15]:
print("\nThe world alcohol consumption details where year is 1987 or 1989:")
print((df[(df['Year']==1987) | (df['Year']==1989)]).head(10))

The world alcohol consumption details where year is 1987 or 1989:
    Year       WHO region                Country Beverage Types  Display Value
4   1987         Americas  Saint Kitts and Nevis           Beer           1.98
5   1987         Americas              Guatemala          Other           0.00
6   1987           Africa              Mauritius           Wine           0.13
10  1987           Africa               Botswana           Wine           0.20
11  1989         Americas              Guatemala           Beer           0.62
15  1987           Africa          Guinea-Bissau           Wine           0.07
17  1989           Africa             Seychelles           Beer           2.23
21  1989         Americas             Costa Rica        Spirits           4.51
28  1987  Western Pacific               Viet Nam           Beer           0.11
32  1989           Africa              Mauritius           Beer           1.60

In [18]:
print("\nThe world alcohol consumption details by the Americas in the 1985:")
print(df[(df['Year']==1989) & (df['WHO region']=='Americas')])

The world alcohol consumption details by the Americas in the 1985:
    Year WHO region  ... Beverage Types Display Value
11  1989   Americas  ...           Beer          0.62
21  1989   Americas  ...        Spirits          4.51
55  1989   Americas  ...           Wine          0.04
64  1989   Americas  ...           Beer          1.26
78  1989   Americas  ...          Other          0.00

[5 rows x 5 columns]

In [17]:
print("\nThe world alcohol consumption details in the year 1986 where WHO region is Western Pacific and country is VietNam :")
print(df[(df['Year']==1986) & (df['WHO region']=='Western Pacific') & (df['Country']=='Viet Nam')])

The world alcohol consumption details in the year 1986 where WHO region is Western Pacific and country is VietNam :
   Year       WHO region   Country Beverage Types  Display Value
0  1986  Western Pacific  Viet Nam           Wine            0.0

In [24]:
print("\nThe world alcohol consumption details in the year '1986' or '1989' where  WHO region is 'Americas' :")
print(df[((df['Year']==1986) | (df['Year']==1989))  & (df['WHO region']=='Americas')])

The world alcohol consumption details in the year '1986' or '1989' where  WHO region is 'Americas' :
    Year WHO region  ... Beverage Types Display Value
1   1986   Americas  ...          Other          0.50
3   1986   Americas  ...           Beer          4.27
8   1986   Americas  ...        Spirits          1.55
11  1989   Americas  ...           Beer          0.62
21  1989   Americas  ...        Spirits          4.51
47  1986   Americas  ...          Other          0.04
55  1989   Americas  ...           Wine          0.04
64  1989   Americas  ...           Beer          1.26
74  1986   Americas  ...        Spirits          2.06
78  1989   Americas  ...          Other          0.00
86  1986   Americas  ...           Wine          1.83

[11 rows x 5 columns]

In [26]:
print("\nThe world alcohol consumption details in the year ‘1986’ or ‘1989’ where  WHO region is ‘Americas’  or 'Europe':")
print(df[((df['Year']==1985) | (df['Year']==1989)) & ((df['WHO region']=='Americas') | (df['WHO region']=='Europe'))])

The world alcohol consumption details in the year ‘1986’ or ‘1989’ where  WHO region is ‘Americas’  or 'Europe':
    Year WHO region  ... Beverage Types Display Value
11  1989   Americas  ...           Beer          0.62
21  1989   Americas  ...        Spirits          4.51
26  1985     Europe  ...           Wine          1.36
35  1985   Americas  ...        Spirits          2.24
44  1985     Europe  ...          Other           NaN
50  1985     Europe  ...          Other          0.30
55  1989   Americas  ...           Wine          0.04
57  1989     Europe  ...           Wine          5.10
64  1989   Americas  ...           Beer          1.26
78  1989   Americas  ...          Other          0.00
79  1989     Europe  ...          Other          2.09
81  1985     Europe  ...           Wine          2.54
91  1989     Europe  ...           Beer          4.43
94  1985     Europe  ...        Spirits          3.06
96  1985     Europe  ...           Wine          7.38

[15 rows x 5 columns]

In [23]:
print("\nThe world alcohol consumption details ('WHO region','Country','Beverage Types') \nin the year ‘1986’ or ‘1989’ where  WHO region is ‘Americas’  or 'Europe':")
print(df[((df['Year']==1985) | (df['Year']==1989)) & ((df['WHO region']=='Americas') | (df['WHO region']=='Europe'))][['WHO region','Country','Beverage Types']].head(10))

The world alcohol consumption details ('WHO region','Country','Beverage Types')
in the year ‘1986’ or ‘1989’ where  WHO region is ‘Americas’  or 'Europe':
   WHO region                                            Country Beverage Types
11   Americas                                          Guatemala           Beer
21   Americas                                         Costa Rica        Spirits
26     Europe  United Kingdom of Great Britain and Northern I...           Wine
35   Americas                              Saint Kitts and Nevis        Spirits
44     Europe                                          Lithuania          Other
50     Europe                                        Switzerland          Other
55   Americas                                           Suriname           Wine
57     Europe                                            Croatia           Wine
64   Americas                   Bolivia (Plurinational State of)           Beer
78   Americas                                            Jamaica          Other

In [25]:
print("\nThe world alcohol consumption details: average consumption of \nbeverages per person >=5 and Beverage Types is Beer:")
print(df[(df['Display Value'] >= 5) & (df['Beverage Types'] == 'Beer')].head(10))

The world alcohol consumption details: average consumption of
beverages per person >=5 and Beverage Types is Beer:
    Year WHO region         Country Beverage Types  Display Value
41  1986     Europe  Czech Republic           Beer           6.82

In [28]:
print("\nFiltering records by label or index:")
print(df.loc[0:4, ["WHO region", "Beverage Types"]])

Filtering records by label or index:
        WHO region Beverage Types
0  Western Pacific           Wine
1         Americas          Other
2           Africa           Wine
3         Americas           Beer
4         Americas           Beer

In [30]:
print("\nThe world alcohol consumption details: average consumption of \nbeverages per person >=4 and Beverage Types is Beer:")
print(df[(df['Display Value'] >= 4) & ((df['Beverage Types'] == 'Beer') | (df['Beverage Types'] == 'Wine')| (df['Beverage Types'] == 'Spirits'))].head(10))

The world alcohol consumption details: average consumption of
beverages per person >=4 and Beverage Types is Beer:
    Year WHO region         Country Beverage Types  Display Value
3   1986   Americas        Colombia           Beer           4.27
21  1989   Americas      Costa Rica        Spirits           4.51
41  1986     Europe  Czech Republic           Beer           6.82
57  1989     Europe         Croatia           Wine           5.10
91  1989     Europe        Bulgaria           Beer           4.43
96  1985     Europe      Luxembourg           Wine           7.38

In [32]:
ndf = df.dropna()
print("\nMatch if  a given column has a particular sub string:")
print(ndf[ndf["WHO region"].str.contains("Ea")])

Match if  a given column has a particular sub string:
    Year             WHO region  ... Beverage Types Display Value
13  1984  Eastern Mediterranean  ...          Other          0.00
20  1986        South-East Asia  ...           Wine          0.00
25  1984  Eastern Mediterranean  ...          Other          0.00
27  1984  Eastern Mediterranean  ...           Beer          2.22
36  1987  Eastern Mediterranean  ...           Beer          0.07
38  1987  Eastern Mediterranean  ...          Other          0.00
52  1986  Eastern Mediterranean  ...           Wine          0.00
53  1984  Eastern Mediterranean  ...           Beer          0.00
58  1984  Eastern Mediterranean  ...        Spirits          0.00
59  1989  Eastern Mediterranean  ...          Other          0.00
60  1987  Eastern Mediterranean  ...          Other          0.00
63  1985  Eastern Mediterranean  ...          Other          0.00
65  1989  Eastern Mediterranean  ...           Beer          0.00
66  1987  Eastern Mediterranean  ...           Wine          0.01
73  1986  Eastern Mediterranean  ...          Other          0.01
75  1989  Eastern Mediterranean  ...          Other          0.00
84  1986        South-East Asia  ...          Other          0.00
87  1989  Eastern Mediterranean  ...           Wine          0.01
88  1987  Eastern Mediterranean  ...           Beer          0.42
89  1986  Eastern Mediterranean  ...           Wine          0.70
97  1984        South-East Asia  ...           Wine          0.00
99  1985        South-East Asia  ...           Wine          0.00

[22 rows x 5 columns]

In [34]:
flt_wine = ndf["WHO region"].isin(["Africa", "Eastern Mediterranean", "Europe"])
print(ndf[flt_wine])

    Year WHO region            Country Beverage Types  Display Value
2   1985     Africa       Cte d'Ivoire           Wine           1.62
6   1987     Africa          Mauritius           Wine           0.13
7   1985     Africa             Angola        Spirits           0.39
9   1984     Africa            Nigeria          Other           6.10
10  1987     Africa           Botswana           Wine           0.20
..   ...        ...                ...            ...            ...
92  1986     Africa            Eritrea        Spirits           0.00
94  1985     Europe            Ukraine        Spirits           3.06
95  1984     Africa              Niger          Other           0.00
96  1985     Europe         Luxembourg           Wine           7.38
98  1984     Africa  Equatorial Guinea           Wine           0.00

[64 rows x 5 columns]

In [36]:
who_region = ["Africa", "Eastern Mediterranean", "Europe"]
flt_wine = ~ndf["WHO region"].isin(who_region)
print(ndf[flt_wine])

    Year       WHO region  ... Beverage Types Display Value
0   1986  Western Pacific  ...           Wine          0.00
1   1986         Americas  ...          Other          0.50
3   1986         Americas  ...           Beer          4.27
4   1987         Americas  ...           Beer          1.98
5   1987         Americas  ...          Other          0.00
8   1986         Americas  ...        Spirits          1.55
11  1989         Americas  ...           Beer          0.62
12  1985  Western Pacific  ...           Beer          0.00
14  1985  Western Pacific  ...        Spirits          0.05
16  1984         Americas  ...           Wine          0.06
20  1986  South-East Asia  ...           Wine          0.00
21  1989         Americas  ...        Spirits          4.51
28  1987  Western Pacific  ...           Beer          0.11
31  1986  Western Pacific  ...           Wine          0.00
35  1985         Americas  ...        Spirits          2.24
43  1984  Western Pacific  ...           Wine          0.03
46  1987         Americas  ...        Spirits          2.26
47  1986         Americas  ...          Other          0.04
48  1987         Americas  ...           Beer          0.70
54  1984         Americas  ...        Spirits          1.81
55  1989         Americas  ...           Wine          0.04
56  1987  Western Pacific  ...           Wine          0.00
61  1984  Western Pacific  ...        Spirits          0.08
62  1987         Americas  ...          Other          0.00
64  1989         Americas  ...           Beer          1.26
74  1986         Americas  ...        Spirits          2.06
78  1989         Americas  ...          Other          0.00
84  1986  South-East Asia  ...          Other          0.00
86  1986         Americas  ...           Wine          1.83
97  1984  South-East Asia  ...           Wine          0.00
99  1985  South-East Asia  ...           Wine          0.00

[31 rows x 5 columns]

In [40]:
print("\nFilter all records where the average consumption of beverages per person from .5 to 2.50.:")
print(df[(df['Display Value'] < 2.5) & (df['Display Value']>.5)])

Filter all records where the average consumption of beverages per person from .5 to 2.50.:
    Year             WHO region  ... Beverage Types Display Value
2   1985                 Africa  ...           Wine          1.62
4   1987               Americas  ...           Beer          1.98
8   1986               Americas  ...        Spirits          1.55
11  1989               Americas  ...           Beer          0.62
17  1989                 Africa  ...           Beer          2.23
18  1984                 Europe  ...        Spirits          1.62
19  1984                 Africa  ...           Beer          1.08
26  1985                 Europe  ...           Wine          1.36
27  1984  Eastern Mediterranean  ...           Beer          2.22
32  1989                 Africa  ...           Beer          1.60
34  1986                 Europe  ...           Wine          0.80
35  1985               Americas  ...        Spirits          2.24
40  1987                 Europe  ...        Spirits          1.90
46  1987               Americas  ...        Spirits          2.26
48  1987               Americas  ...           Beer          0.70
49  1986                 Europe  ...           Wine          1.49
54  1984               Americas  ...        Spirits          1.81
64  1989               Americas  ...           Beer          1.26
70  1986                 Africa  ...        Spirits          1.02
71  1985                 Africa  ...          Other          0.57
74  1986               Americas  ...        Spirits          2.06
79  1989                 Europe  ...          Other          2.09
80  1985                 Africa  ...          Other          0.84
82  1987                 Europe  ...        Spirits          2.25
86  1986               Americas  ...           Wine          1.83
89  1986  Eastern Mediterranean  ...           Wine          0.70

[26 rows x 5 columns]

In [39]:
print("\nAverage consumption of wine per person greater than 2:")
print(df[(df['Beverage Types'] == 'Wine') & (df['Display Value'] > .2)].count())

Average consumption of wine per person greater than 2:
Year              9
WHO region        9
Country           9
Beverage Types    9
Display Value     9
dtype: int64

In [41]:
print("\nFilter rows based on row numbers ended with 0, like 0, 10, 20, 30:")
print(df.filter(regex='0$', axis=0))

Filter rows based on row numbers ended with 0, like 0, 10, 20, 30:
    Year             WHO region  ... Beverage Types Display Value
0   1986        Western Pacific  ...           Wine          0.00
10  1987                 Africa  ...           Wine          0.20
20  1986        South-East Asia  ...           Wine          0.00
30  1986                 Africa  ...          Other          4.48
40  1987                 Europe  ...        Spirits          1.90
50  1985                 Europe  ...          Other          0.30
60  1987  Eastern Mediterranean  ...          Other          0.00
70  1986                 Africa  ...        Spirits          1.02
80  1985                 Africa  ...          Other          0.84
90  1989                 Africa  ...           Wine          0.01

[10 rows x 5 columns]

In [42]:
print(df.loc[:,"Country":"Display Value"].head())

                 Country Beverage Types  Display Value
0               Viet Nam           Wine           0.00
1                Uruguay          Other           0.50
2           Cte d'Ivoire           Wine           1.62
3               Colombia           Beer           4.27
4  Saint Kitts and Nevis           Beer           1.98

In [43]:
print(df.iloc[:,2:5].head())

                 Country Beverage Types  Display Value
0               Viet Nam           Wine           0.00
1                Uruguay          Other           0.50
2           Cte d'Ivoire           Wine           1.62
3               Colombia           Beer           4.27
4  Saint Kitts and Nevis           Beer           1.98

In [44]:
print("\nSelect rows with Index label 0 to 9 with specific columns:")
print(df.loc[0:9,["Year","Country","Display Value"]])

Select rows with Index label 0 to 9 with specific columns:
   Year                Country  Display Value
0  1986               Viet Nam           0.00
1  1986                Uruguay           0.50
2  1985           Cte d'Ivoire           1.62
3  1986               Colombia           4.27
4  1987  Saint Kitts and Nevis           1.98
5  1987              Guatemala           0.00
6  1987              Mauritius           0.13
7  1985                 Angola           0.39
8  1986    Antigua and Barbuda           1.55
9  1984                Nigeria           6.10

In [45]:
print("\nRenaming only some of the column names:")
df.rename(columns = {"WHO region":"WHO_region","Display Value":"Display_Value" },inplace = True)
print(df.head())

Renaming only some of the column names:
   Year       WHO_region                Country Beverage Types  Display_Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

In [46]:
print(df.loc[:,df.all()])

    Year       WHO_region                                Country Beverage Types
0   1986  Western Pacific                               Viet Nam           Wine
1   1986         Americas                                Uruguay          Other
2   1985           Africa                           Cte d'Ivoire           Wine
3   1986         Americas                               Colombia           Beer
4   1987         Americas                  Saint Kitts and Nevis           Beer
..   ...              ...                                    ...            ...
95  1984           Africa                                  Niger          Other
96  1985           Europe                             Luxembourg           Wine
97  1984  South-East Asia                              Indonesia           Wine
98  1984           Africa                      Equatorial Guinea           Wine
99  1985  South-East Asia  Democratic People's Republic of Korea           Wine

[100 rows x 4 columns]

In [47]:
print("\nFind which years have any non-zero values:")
print(df.loc[:,df.any()])

Find which years have any non-zero values:
    Year       WHO_region  ... Beverage Types Display_Value
0   1986  Western Pacific  ...           Wine          0.00
1   1986         Americas  ...          Other          0.50
2   1985           Africa  ...           Wine          1.62
3   1986         Americas  ...           Beer          4.27
4   1987         Americas  ...           Beer          1.98
..   ...              ...  ...            ...           ...
95  1984           Africa  ...          Other          0.00
96  1985           Europe  ...           Wine          7.38
97  1984  South-East Asia  ...           Wine          0.00
98  1984           Africa  ...           Wine          0.00
99  1985  South-East Asia  ...           Wine          0.00

[100 rows x 5 columns]

In [49]:
print(df.loc[:,df.notnull().all()])
print("\nRows and columns has a NaN:")
print(df.loc[:,df.isnull().any()])
print("\nDrop rows with any NaNs:")
print(df.dropna(how='any'))

    Year       WHO_region                                Country Beverage Types
0   1986  Western Pacific                               Viet Nam           Wine
1   1986         Americas                                Uruguay          Other
2   1985           Africa                           Cte d'Ivoire           Wine
3   1986         Americas                               Colombia           Beer
4   1987         Americas                  Saint Kitts and Nevis           Beer
..   ...              ...                                    ...            ...
95  1984           Africa                                  Niger          Other
96  1985           Europe                             Luxembourg           Wine
97  1984  South-East Asia                              Indonesia           Wine
98  1984           Africa                      Equatorial Guinea           Wine
99  1985  South-East Asia  Democratic People's Republic of Korea           Wine

[100 rows x 4 columns]

Rows and columns has a NaN:
    Display_Value
0            0.00
1            0.50
2            1.62
3            4.27
4            1.98
..            ...
95           0.00
96           7.38
97           0.00
98           0.00
99           0.00

[100 rows x 1 columns]

Drop rows with any NaNs:
    Year       WHO_region  ... Beverage Types Display_Value
0   1986  Western Pacific  ...           Wine          0.00
1   1986         Americas  ...          Other          0.50
2   1985           Africa  ...           Wine          1.62
3   1986         Americas  ...           Beer          4.27
4   1987         Americas  ...           Beer          1.98
..   ...              ...  ...            ...           ...
95  1984           Africa  ...          Other          0.00
96  1985           Europe  ...           Wine          7.38
97  1984  South-East Asia  ...           Wine          0.00
98  1984           Africa  ...           Wine          0.00
99  1985  South-East Asia  ...           Wine          0.00

[95 rows x 5 columns]

In [50]:
print("\nFrom the 'Year' column, access every other column:")
print(df.loc[:,'Year'::2].head(10))
print("\nAlternate solution:")
print(df.iloc[:,0::2].head(10))

From the 'Year' column, access every other column:
   Year                Country  Display_Value
0  1986               Viet Nam           0.00
1  1986                Uruguay           0.50
2  1985           Cte d'Ivoire           1.62
3  1986               Colombia           4.27
4  1987  Saint Kitts and Nevis           1.98
5  1987              Guatemala           0.00
6  1987              Mauritius           0.13
7  1985                 Angola           0.39
8  1986    Antigua and Barbuda           1.55
9  1984                Nigeria           6.10

Alternate solution:
   Year                Country  Display_Value
0  1986               Viet Nam           0.00
1  1986                Uruguay           0.50
2  1985           Cte d'Ivoire           1.62
3  1986               Colombia           4.27
4  1987  Saint Kitts and Nevis           1.98
5  1987              Guatemala           0.00
6  1987              Mauritius           0.13
7  1985                 Angola           0.39
8  1986    Antigua and Barbuda           1.55
9  1984                Nigeria           6.10

In [51]:
print("\nStarting from the 2nd row, access every 5th row:")
print(df.iloc[1::5].head(10))

Starting from the 2nd row, access every 5th row:
    Year             WHO_region  ... Beverage Types Display_Value
1   1986               Americas  ...          Other          0.50
6   1987                 Africa  ...           Wine          0.13
11  1989               Americas  ...           Beer          0.62
16  1984               Americas  ...           Wine          0.06
21  1989               Americas  ...        Spirits          4.51
26  1985                 Europe  ...           Wine          1.36
31  1986        Western Pacific  ...           Wine          0.00
36  1987  Eastern Mediterranean  ...           Beer          0.07
41  1986                 Europe  ...           Beer          6.82
46  1987               Americas  ...        Spirits          2.26

[10 rows x 5 columns]